.dark {
    background: dimgrey;
}

.dark-text {
    color: aliceblue;
}

.red {
    background: lightcoral;
}

.red-text {
    color: aqua;
}

.some {
    background: lightgreen;
}

.some-text {
    color: darkslateblue;
}

.yellow {
    background-color: lightgoldenrodyellow;
}

.yellow-text {
    color: gray;
}

.darkBlue {
    background-color: #152238;
}

.darkBlue-text {
    color: white;
}

.standard {
    background-color: #f2f2f2;
}

.standard-text {
    color: black;
}