
.superInput {
    padding: 16px 32px;
    font-size: 15px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.superInput:focus {
    outline: none;
    border-color: gray;

}

.errorInput {
    background-color: #fadadd;

}

.error {
    color: red;
}

