.spanClassName {

}

.checkbox {
    display: none;
}

.label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.fakeSpan {
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 1px solid lightgray;
    position: relative;
}
.fakeSpan:hover {
    cursor: pointer;
}

.fakeSpan::before {
    content: "";
    position: absolute;
    display: block;
    /*width: 6px;*/
    /*height: 6px;*/
    width: 11px;
    height: 11px;
    /*background-color: #4CAF50;*/
    background-image: url("./checkmark.svg");
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*transform: translate(4.5px, 4.5px);*/
    /*видимо пиксели считаются в разных браузерах по разному, поэтому нужен расчет в процентах*/
    /*топ и лефт смещают квадратик в центре на 50% от размеров fakeSpan, translate двигает его на -0.5* длину fakeSpanBefore*/
    /* т.ж.с. что 15/2 - 6/2 = 4.5px (15-6)/2 тжс , то же что я и насчитала но типо не точно пиксели а через проценты*/
    transition: .2s;
    /*скорость анимации*/
    opacity: 0;
}

.checkbox:checked + .fakeSpan::before {
    opacity: 1;
}